
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*!Главная страница - видео!*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #000;
}

.header .video-container video.show {
    display: block;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    display: none;
    object-fit: cover;
}

/*!Главная страница - навигация_лого!*/
nav{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    padding: 20px 7.292% 20px 2.084%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*!Главная страница - svg лого!*/
nav .logo{
    width: 281px;
    height: 26px;
}

.header{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.header-container{
    width: 100%;
    height: 100%;
}
.header .video-container{
    position: relative;
    height:inherit;
}


nav.navigation-primary-container ul {
    position: relative;
}

nav.navigation-primary-container ul .navigation-primary-item {
    display: inline-block;
    vertical-align: middle;
}

.header .video-container video.show {
    display: block;
}

.header .video-container video {
    min-width: 100%;
    min-height: 100%;
    display: none;
    object-fit: cover;
}
/*!Главная страница - навигация - расположение!*/
/*nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 196px;;
}*/

/*!Главная страница - навигация - оформление!*/
/*nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}*/



nav.navigation-primary-container ul .navigation-primary-item .navigation-primary-link {
    font-size: 18px;
    line-height: .89;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 27px;
}
/*!Главная страница - контент!*/
.components{
    position: relative;
    background-color: #000000;
}

/*!Главная страница - заголовок!*/


/*!Главная страница - заголовок_transparent!*/


.text-container h1{
    color: #fff;
    font-family: Suprapower SE Heavy;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    font-size: 180px;
    transition: 0.5s;
}


.text-container h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}


/*!Главная страница - навигация_расположение!*/


/*!Главная страница - скролл!*/
.widget-shape{
    cursor: pointer;
    left: 0px;
    top: 0px;
    font-size: 0px;
    line-height: 0;
}

/*!Главная страница - скролл_отображение!*/
.widget-shape img {
    display: block;
    width: 100%;
}

/*!Главная страница - фоновое видео!*/
.background-video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

text-container{
    width: 100%;
    max-width: 1685px;
    margin: 0 auto;
    text-align:center;
}
.header .content-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
/*!Главная страница - навигация_фулл!*/
.navigation-primary-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 27px;
    width: 80%;
    position: relative;
    background-color: #000;
    z-index: 100;
    box-sizing: content-box;
}
.navigation-primary-link-title{
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}


.navigation-primary-link-title.underline{
    text-decoration-line: underline;

}

